// All @use rules must come first
@use '@angular/material' as mat;
@use './primitives' as *;
@use './numbers' as *;
@use './typography' as *;

// Include the common styles for Angular Material
@include mat.core();

// Define a custom Material theme (optional, can customize colors)
$custom-primary: mat.define-palette(mat.$indigo-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Include theme styles for core and each component used in your app
@include mat.all-component-themes($custom-theme);



//Number tokens



// Shadow Tokens
$color-black-14: rgba(0, 0, 0, 0.08); // #00000014
$color-black-1a: rgba(0, 0, 0, 0.10); // #0000001a
$color-black-1f: rgba(0, 0, 0, 0.12); // #0000001f

$shadow-bottom-default: 0 0.5rem 1.5rem 0.125rem $color-black-14; // 8px 24px 2px
$shadow-bottom-hover: 0 0.75rem 2.5rem 0.125rem $color-black-1a; // 12px 40px 2px
$shadow-center-default: 0 0.25rem 1.5rem 0.125rem $color-black-14; // 4px 24px 2px
$shadow-center-hover: 0 0.5rem 2rem 0.125rem $color-black-1f; // 8px 32px 2px
$shadow-product-cards: 0 0.25rem 0.75rem 0.0625rem $color-black-1a; // 4px 12px 1px
$shadow-product-card-hover: 0 0.5rem 1rem 0.25rem $color-black-14; // 8px 16px 4px



// Button Typography Tokens

$button-large: (
    font-family: $font-inter,
    font-weight: $font-weight-inter-1,
    line-height: $line-height-6,
    font-size: $font-size-5,
    letter-spacing: $letter-spacing-1,
    paragraph-spacing: $paragraph-spacing-0,
    paragraph-indent: $paragraph-indent-0,
    text-case: capitalize,
    text-decoration: none
);

$button-medium: (
    font-family: $font-inter,
    font-weight: $font-weight-inter-1,
    line-height: $line-height-6,
    font-size: $font-size-6,
    letter-spacing: $letter-spacing-1,
    paragraph-spacing: $paragraph-spacing-0,
    paragraph-indent: $paragraph-indent-0,
    text-case: capitalize,
    text-decoration: none
);

$button-small: (
    font-family: $font-inter,
    font-weight: $font-weight-inter-1,
    line-height: $line-height-13,
    font-size: $font-size-13,
    letter-spacing: $letter-spacing-1,
    paragraph-spacing: $paragraph-spacing-0,
    paragraph-indent: $paragraph-indent-0,
    text-case: capitalize,
    text-decoration: none
);

@mixin apply-button-typography($variant) {
    font-family: map-get($variant, font-family);
    font-weight: map-get($variant, font-weight);
    line-height: map-get($variant, line-height);
    font-size: map-get($variant, font-size);
    letter-spacing: map-get($variant, letter-spacing);
    text-transform: map-get($variant, text-case);
    text-decoration: map-get($variant, text-decoration);
}



//=========================================================================//
// /* Button font sizes */
// $button-large-m-font-family: "Inter", Helvetica;
// $button-large-m-font-size: 1rem;
// /* 16px */
// $button-large-m-font-style: normal;
// $button-large-m-font-weight: 500;
// $button-large-m-letter-spacing: 0px;
// $button-large-m-line-height: 1.25rem;
// /* 20px */

// $button-medium-m-font-family: "Inter", Helvetica;
// $button-medium-m-font-size: 0.875rem;
// /* 14px */
// $button-medium-m-font-style: normal;
// $button-medium-m-font-weight: 500;
// $button-medium-m-letter-spacing: 0px;
// $button-medium-m-line-height: 1.25rem;
// /* 20px */

// $button-small-m-font-family: "Inter", Helvetica;
// $button-small-m-font-size: 0.75rem;
// /* 12px */
// $button-small-m-font-style: normal;
// $button-small-m-font-weight: 500;
// $button-small-m-letter-spacing: 0px;
// $button-small-m-line-height: 1rem;
// /* 16px */

// /* Color tokens */
// $color-tokens-border-error-default: $primitives-colors-error-error);
// $color-tokens-border-error-light: $primitives-colors-error-error-50);
// $color-tokens-border-focus-blue-focus: $primitives-colors-focus-blue-outline);
// $display-extralarge-SB-font-family: "Inter", Helvetica;
// $display-extralarge-SB-font-size: 2.5rem;
// /* 40px */
// $display-extralarge-SB-font-style: normal;
// $display-extralarge-SB-font-weight: 600;
// $display-extralarge-SB-letter-spacing: 0px;
// $display-extralarge-SB-line-height: 3rem;
// /* 48px */

// $display-large-SB-font-family: "Inter", Helvetica;
// $display-large-SB-font-size: 2rem;
// /* 32px */
// $display-large-SB-font-style: normal;
// $display-large-SB-font-weight: 600;
// $display-large-SB-letter-spacing: 0px;
// $display-large-SB-line-height: 2.5rem;
// /* 40px */

// $display-medium-SB-font-family: "Inter", Helvetica;
// $display-medium-SB-font-size: 1.5rem;
// /* 24px */
// $display-medium-SB-font-style: normal;
// $display-medium-SB-font-weight: 600;
// $display-medium-SB-letter-spacing: 0px;
// $display-medium-SB-line-height: 2rem;
// /* 32px */

// $display-small-SB-font-family: "Inter", Helvetica;
// $display-small-SB-font-size: 1.25rem;
// /* 20px */
// $display-small-SB-font-style: normal;
// $display-small-SB-font-weight: 600;
// $display-small-SB-letter-spacing: 0px;
// $display-small-SB-line-height: 1.75rem;
// /* 28px */

// $heading-large-SB-font-family: "Inter", Helvetica;
// $heading-large-SB-font-size: 1.25rem;
// /* 20px */
// $heading-large-SB-font-style: normal;
// $heading-large-SB-font-weight: 600;
// $heading-large-SB-letter-spacing: 0px;
// $heading-large-SB-line-height: 1.75rem;
// /* 28px */

// $heading-medium-SB-font-family: "Inter", Helvetica;
// $heading-medium-SB-font-size: 1rem;
// /* 16px */
// $heading-medium-SB-font-style: normal;
// $heading-medium-SB-font-weight: 600;
// $heading-medium-SB-letter-spacing: 0px;
// $heading-medium-SB-line-height: 1.5rem;
// /* 24px */

// $heading-small-m-font-family: "Inter", Helvetica;
// $heading-small-m-font-size: 0.875rem;
// /* 14px */
// $heading-small-m-font-style: normal;
// $heading-small-m-font-weight: 500;
// $heading-small-m-letter-spacing: 0px;
// $heading-small-m-line-height: 1.25rem;
// /* 20px */

// $heading-small-SB-font-family: "Inter", Helvetica;
// $heading-small-SB-font-size: 0.875rem;
// /* 14px */
// $heading-small-SB-font-style: normal;
// $heading-small-SB-font-weight: 600;
// $heading-small-SB-letter-spacing: 0px;
// $heading-small-SB-line-height: 1.25rem;
// /* 20px */

// $hyperlink-large-m-font-family: "Inter", Helvetica;
// $hyperlink-large-m-font-size: 0.875rem;
// /* 14px */
// $hyperlink-large-m-font-style: normal;
// $hyperlink-large-m-font-weight: 400;
// $hyperlink-large-m-letter-spacing: 0px;
// $hyperlink-large-m-line-height: 1.25rem;
// /* 20px */

// $hyperlink-small-m-font-family: "Inter", Helvetica;
// $hyperlink-small-m-font-size: 0.75rem;
// /* 12px */
// $hyperlink-small-m-font-style: normal;
// $hyperlink-small-m-font-weight: 400;
// $hyperlink-small-m-letter-spacing: 0px;
// $hyperlink-small-m-line-height: 1rem;
// /* 16px */

// $label-large-m-font-family: "Inter", Helvetica;
// $label-large-m-font-size: 1rem;
// /* 16px */
// $label-large-m-font-style: normal;
// $label-large-m-font-weight: 500;
// $label-large-m-letter-spacing: 0px;
// $label-large-m-line-height: 1.25rem;
// /* 20px */

// $label-large-r-font-family: "Inter", Helvetica;
// $label-large-r-font-size: 1rem;
// /* 16px */
// $label-large-r-font-style: normal;
// $label-large-r-font-weight: 400;
// $label-large-r-letter-spacing: 0px;
// $label-large-r-line-height: 1.25rem;
// /* 20px */

// $label-medium-m-font-family: "Inter", Helvetica;
// $label-medium-m-font-size: 0.875rem;
// /* 14px */
// $label-medium-m-font-style: normal;
// $label-medium-m-font-weight: 500;
// $label-medium-m-letter-spacing: 0px;
// $label-medium-m-line-height: 1.125rem;
// /* 18px */

// $label-medium-r-font-family: "Inter", Helvetica;
// $label-medium-r-font-size: 0.875rem;
// /* 14px */
// $label-medium-r-font-style: normal;
// $label-medium-r-font-weight: 400;
// $label-medium-r-letter-spacing: 0px;
// $label-medium-r-line-height: 1.125rem;
// /* 18px */

// $label-medium-SB-font-family: "Inter", Helvetica;
// $label-medium-SB-font-size: 0.875rem;
// /* 14px */
// $label-medium-SB-font-style: normal;
// $label-medium-SB-font-weight: 600;
// $label-medium-SB-letter-spacing: 0px;
// $label-medium-SB-line-height: 1.125rem;
// /* 18px */

// $label-small-m-font-family: "Inter", Helvetica;
// $label-small-m-font-size: 0.75rem;
// /* 12px */
// $label-small-m-font-style: normal;
// $label-small-m-font-weight: 500;
// $label-small-m-letter-spacing: 0px;
// $label-small-m-line-height: 1rem;
// /* 16px */

// $label-small-r-font-family: "Inter", Helvetica;
// $label-small-r-font-size: 0.75rem;
// /* 12px */
// $label-small-r-font-style: normal;
// $label-small-r-font-weight: 400;
// $label-small-r-letter-spacing: 0px;
// $label-small-r-line-height: 1rem;
// /* 16px */