@use 'primitives' as *;
//Color tokens
//Surface
$color-tokens-surface-error-background-dark: $primitives-colors-error-error-25;
$color-tokens-surface-error-background-light: $primitives-colors-error-error-0;
$color-tokens-surface-error-default: $primitives-colors-error-error;
$color-tokens-surface-error-hover: $primitives-colors-error-error-75;
$color-tokens-surface-error-pressed: $primitives-colors-error-error-100;
$color-tokens-surface-neutral-black-default: $primitives-colors-neutral-gray-100;
$color-tokens-surface-neutral-black-hover: $primitives-colors-neutral-gray-90;
$color-tokens-surface-neutral-black-pressed: $primitives-colors-neutral-black;
$color-tokens-surface-neutral-white: $primitives-colors-neutral-white;
$color-tokens-surface-neutral-white-disabled: $primitives-colors-neutral-gray-30;
$color-tokens-surface-neutral-white-faded: $primitives-colors-neutral-gray-30;
$color-tokens-surface-neutral-white-hover: $primitives-colors-neutral-gray-40;
$color-tokens-surface-neutral-white-pressed: $primitives-colors-neutral-gray-50;
$color-tokens-surface-primary-background-dark: $primitives-colors-primary-blue-20;
$color-tokens-surface-primary-background-light: $primitives-colors-primary-blue-10;
$color-tokens-surface-primary-default: $primitives-colors-primary-blue-60-primary-color;
$color-tokens-surface-primary-hover: $primitives-colors-primary-blue-70;
$color-tokens-surface-primary-pressed: $primitives-colors-primary-blue-80;
$color-tokens-surface-secondary-background: $primitives-colors-secondary-orange-10;
$color-tokens-surface-secondary-default: $primitives-colors-secondary-orange-60-secondary-color;
$color-tokens-surface-secondary-hover: $primitives-colors-secondary-orange-70;
$color-tokens-surface-secondary-pressed: $primitives-colors-secondary-orange-80;
$color-tokens-surface-success-background-dark: $primitives-colors-success-success-25;
$color-tokens-surface-success-background-light: $primitives-colors-success-success-0;
$color-tokens-surface-success-default: $primitives-colors-success-success;
$color-tokens-surface-success-hover: $primitives-colors-success-success-75;
$color-tokens-surface-success-pressed: $primitives-colors-success-success-100;
$color-tokens-surface-tertiary-background: $primitives-colors-tertiary-cyan-30;
$color-tokens-surface-tertiary-default: $primitives-colors-tertiary-cyan-10;
$color-tokens-surface-warning-background-dark: $primitives-colors-warning-warning-25;
$color-tokens-surface-warning-background-light: $primitives-colors-warning-warning-0;
$color-tokens-surface-warning-default: $primitives-colors-warning-warning;
$color-tokens-surface-warning-hover: $primitives-colors-warning-warning-75;
$color-tokens-surface-warning-pressed: $primitives-colors-warning-warning-100;

//content
$color-tokens-content-error-default: $primitives-colors-error-error;
$color-tokens-content-error-hover: $primitives-colors-error-error-75;
$color-tokens-content-error-pressed: $primitives-colors-error-error-100;
$color-tokens-content-hyperlink-opened-default: $primitives-colors-hyperlink-hyperlink-opened;
$color-tokens-content-hyperlink-opened-hover: $primitives-colors-hyperlink-hyperlink-o-75;
$color-tokens-content-hyperlink-opened-pressed: $primitives-colors-hyperlink-hyperlink-o-100;
$color-tokens-content-hyperlink-unopened-default: $primitives-colors-hyperlink-hyperlink-unopened;
$color-tokens-content-hyperlink-unopened-hover: $primitives-colors-hyperlink-hyperlink-u-75;
$color-tokens-content-hyperlink-unopened-pressed: $primitives-colors-hyperlink-hyperlink-u-100;

$color-tokens-content-neutral-body2: $primitives-colors-neutral-gray-80;
$color-tokens-content-neutral-button-darkbg: $primitives-colors-neutral-white;
$color-tokens-content-neutral-disabled: $primitives-colors-neutral-gray-60;
$color-tokens-content-neutral-display-heading1-label1-selected: $primitives-colors-neutral-black;
$color-tokens-content-neutral-heading2-label2-body1: $primitives-colors-neutral-gray-90;
$color-tokens-content-neutral-hover: $primitives-colors-neutral-gray-100;
$color-tokens-content-others-blue-dark: $primitives-colors-others-blue-dark;
$color-tokens-content-others-blue-light: $primitives-colors-others-blue-light;
$color-tokens-content-others-green-dark: $primitives-colors-others-green-dark;
$color-tokens-content-others-green-light: $primitives-colors-others-green-light;
$color-tokens-content-others-orange-dark: $primitives-colors-others-orange-dark;
$color-tokens-content-others-orange-light: $primitives-colors-others-orange-light;
$color-tokens-content-others-pink-dark: $primitives-colors-others-pink-dark;
$color-tokens-content-others-pink-light: $primitives-colors-others-pink-light;
$color-tokens-content-others-purple-dark: $primitives-colors-others-purple-dark;
$color-tokens-content-others-purple-light: $primitives-colors-others-purple-light;
$color-tokens-content-others-turquoise-dark: $primitives-colors-others-turquoise-dark;
$color-tokens-content-others-turquoise-light: $primitives-colors-others-turquoise-light;
$color-tokens-content-others-yellow-dark: $primitives-colors-others-yellow-dark;
$color-tokens-content-others-yellow-light: $primitives-colors-others-yellow-light;
$color-tokens-content-primary-default: $primitives-colors-primary-blue-60-primary-color;
$color-tokens-content-primary-hover: $primitives-colors-primary-blue-70;
$color-tokens-content-primary-pressed: $primitives-colors-primary-blue-80;
$color-tokens-content-secondary-default: $primitives-colors-secondary-orange-60-secondary-color;
$color-tokens-content-secondary-hover: $primitives-colors-secondary-orange-70;
$color-tokens-content-secondary-pressed: $primitives-colors-secondary-orange-80;
$color-tokens-content-success-default: $primitives-colors-success-success;
$color-tokens-content-success-hover: $primitives-colors-success-success-75;
$color-tokens-content-success-pressed: $primitives-colors-success-success-100;
$color-tokens-content-tertiary-dark: $primitives-colors-tertiary-cyan-10;
$color-tokens-content-tertiary-light: $primitives-colors-tertiary-cyan-20;
$color-tokens-content-warning-default: $primitives-colors-warning-warning;
$color-tokens-content-warning-hover: $primitives-colors-warning-warning-75;
$color-tokens-content-warning-pressed: $primitives-colors-warning-warning-100;


//Border
$color-tokens-border-neutral-dark-stroke-divider: $primitives-colors-neutral-gray-70;
$color-tokens-border-neutral-light-stroke-divider: $primitives-colors-neutral-gray-50;
$color-tokens-border-primary-default: $primitives-colors-primary-blue-60-primary-color;
$color-tokens-border-primary-light: $primitives-colors-primary-blue-20;
$color-tokens-border-secondary-default: $primitives-colors-secondary-orange-60-secondary-color;
$color-tokens-border-secondary-light: $primitives-colors-secondary-orange-20;
$color-tokens-border-success-default: $primitives-colors-success-success;
$color-tokens-border-success-light: $primitives-colors-success-success-50;
$color-tokens-border-tertiary-dark: $primitives-colors-tertiary-cyan-10;
$color-tokens-border-tertiary-light: $primitives-colors-tertiary-cyan-20;
$color-tokens-border-warning-default: $primitives-colors-warning-warning;
$color-tokens-border-warning-light: $primitives-colors-warning-warning-50;
