
@use 'sass:map';
//Typography

// Font Family Tokens
$font-inter: "Inter", sans-serif;
$paragraph-spacing-0: 0;
$letter-spacing-1: 0;

// Paragraph Indent Tokens
$paragraph-indent-0: 0;



// Font Size Tokens
$font-size-0: 40px;
$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-size-7: 14px;
$font-size-8: 16px;
$font-size-9: 16px;
$font-size-10: 14px;
$font-size-11: 14px;
$font-size-12: 14px;
$font-size-13: 12px;
$font-size-14: 12px;
$font-size-15: 14px;
$font-size-16: 12px;
$font-size-17: 10px;
$font-size-18: 16px;
$font-size-19: 14px;
$font-size-20: 12px;
$font-size-21: 14px;
$font-size-22: 12px;


// Line Height Tokens
$font-size-display-xl: 80px;
$font-size-display-lg: 64px;
$font-size-display-md: 48px;
$font-size-display-sm: 40px;

$font-size-heading-xl: 36px;
$font-size-heading-lg: 32px;
$font-size-heading-md: 28px;
$font-size-heading-sm: 24px;

$font-size-label-xl: 20px;
$font-size-label-lg: 18px;
$font-size-label-md: 16px;
$font-size-label-sm: 14px;
$font-size-label-xs: 12px;


// Font Size Tokens

$font-size-display-xl: 80px;
$font-size-display-lg: 64px;
$font-size-display-md: 48px;
$font-size-display-sm: 40px;

$font-size-heading-xl: 36px;
$font-size-heading-lg: 32px;
$font-size-heading-md: 28px;
$font-size-heading-sm: 24px;

$font-size-label-xl: 20px;
$font-size-label-lg: 18px;
$font-size-label-md: 16px;
$font-size-label-sm: 14px;
$font-size-label-xs: 12px;


// Line Height Tokens
$line-height-0: 48px;
$line-height-1: 40px;
$line-height-2: 32px;
$line-height-3: 28px;
$line-height-4: 28px;
$line-height-5: 24px;
$line-height-6: 20px;
$line-height-7: 20px;
$line-height-8: 20px;
$line-height-9: 20px;
$line-height-10: 18px;
$line-height-11: 18px;
$line-height-12: 18px;
$line-height-13: 16px;
$line-height-14: 16px;
$line-height-15: 20px;
$line-height-16: 16px;
$line-height-17: 14px;
$line-height-18: 20px;
$line-height-19: 20px;
$line-height-20: 16px;
$line-height-21: 20px;
$line-height-22: 16px;


// Font Weight Tokens
$font-weight-inter-0: 600; // Semi Bold
$font-weight-inter-1: 500; // Medium
$font-weight-inter-2: 400; // Regular


$typography-display-xl: (
    font-size: 80px,
    line-height: 88px,
    font-weight: 700,
    letter-spacing: -0.01em
);

$typography-display-lg: (
    font-size: 64px,
    line-height: 72px,
    font-weight: 700,
    letter-spacing: -0.01em
);

$typography-display-md: (
    font-size: 48px,
    line-height: 56px,
    font-weight: 700,
    letter-spacing: -0.01em
);

$typography-display-sm: (
    font-size: 40px,
    line-height: 48px,
    font-weight: 700,
    letter-spacing: -0.01em
);

// Headings
$typography-heading-xl: (
    font-size: 36px,
    line-height: 44px,
    font-weight: 600,
    letter-spacing: 0em
);

$typography-heading-lg: (
    font-size: 32px,
    line-height: 40px,
    font-weight: 600,
    letter-spacing: 0em
);

$typography-heading-md: (
    font-size: 28px,
    line-height: 36px,
    font-weight: 600,
    letter-spacing: 0em
);

$typography-heading-sm: (
    font-size: 24px,
    line-height: 32px,
    font-weight: 600,
    letter-spacing: 0em
);

// Labels
$typography-label-xl: (
    font-size: 20px,
    line-height: 28px,
    font-weight: 500,
    letter-spacing: 0.01em
);

$typography-label-lg: (
    font-size: 18px,
    line-height: 24px,
    font-weight: 500,
    letter-spacing: 0.01em
);

$typography-label-md: (
    font-size: 16px,
    line-height: 22px,
    font-weight: 500,
    letter-spacing: 0.01em
);

$typography-label-sm: (
    font-size: 14px,
    line-height: 20px,
    font-weight: 500,
    letter-spacing: 0.01em
);

$typography-label-xs: (
    font-size: 12px,
    line-height: 18px,
    font-weight: 500,
    letter-spacing: 0.01em
);

@mixin apply-typography($map) {
    font-size: map.get($map, font-size);
    line-height: map.get($map, line-height);
    font-weight: map.get($map, font-weight);
    letter-spacing: map.get($map, letter-spacing);
  }
  

// Text Case and Decoration Tokens
$text-case-none: none;
$ext-case-capitalize: capitalize;

$text-decoration-none: none;
$text-decoration-underline: underline;